CHAINS: '[{"system": "ethereum", "network": "mainnet", "json_rpc_url": "https://ethereum-rpc.publicnode.com", "agents": [{"kind": "node", "prediction_trigger": {"poll": {"rate_ms": 1000}}, "signer_key": "0xede33830a316e1f3018a50709c54d1f01d6ab3053f4f29ec552ce10bc9f5ef72"}, {"kind": "adaptive_threshold", "prediction_trigger": "block", "signer_key": "0x818fac2f542abeff8e45eebb6d4251637f3cfb57a1d28977d1cd238c5535d9e1"}]}]'
COLLECTOR_ENDPOINT: https://collector.gas.network
